<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/stylesheets/style.css" />
</head>
<body>
    <div id="app">
        <form action="{{ PayGateWay }}" method="post">
            <input type="hidden" name="MerchantID" value="{{ MerchantID }}" />
            <input type="hidden" name="TradeSha" value="{{ order.shaEncrypt }}" />
            <input type="hidden" name="TradeInfo" value="{{ order.aesEncrypt }}" />
            <input type="hidden" name="TimeStamp" value="{{ order.TimeStamp }}" />
            <input type="hidden" name="Version" value="{{ Version }}" />
            <input type="hidden" name="NotifyUrl" value="{{ NotifyUrl }}" />
            <input type="hidden" name="ReturnUrl" value="{{ ReturnUrl }}" />
            <input type="hidden" name="MerchantOrderNo" value="{{ order.MerchantOrderNo }}" />
            <input type="hidden" name="Amt" value="{{ order.Amt }}" />
            <input type="hidden" name="ItemDesc" value="{{ order.ItemDesc }}" />
            <input type="hidden" name="Email" value="{{ order.Email }}" />
            <button type="submit">送出</button>
        </form>
    </div>
</body>
</html>