<!-- app/templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software Products</title>
</head>
<body>
    <h1>Software Products</h1>
    <table border="1">
        <thead>
            <tr>
                <th>軟體產品</th>
                <th>描述</th>
                <th>價錢</th>
                <th>確定</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(softwareproductnamelist|length) %}
            <tr>
                <td>{{ softwareproductnamelist[i] }}</td>
                <td>{{ descriptionlist[i] }}</td>
                <td>{{ pricelist[i] }}</td>
                <td><button onclick="createOrder('{{ softwareproductnamelist[i] }}', '{{ pricelist[i] }}')">確定</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="/static/js/script.js"></script>
</body>
</html>